<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Orbital7.RapidApp Sample Web App" />
    <title>Sample Web App</title>
    @await Html.RAInfrastructureStylesheetsAsync()
    @await Html.RAInfrastructureScriptsAsync()
    @RenderSection("Scripts", required: false)

</head>
<body>

    <div class="ra-container ra-container-horizontal">
        <table class="ra-layout-sidebar">
            <tr>
                <td class="ra-layout-sectionbar" style="background-color: #1F2631;">
                    <table class="ra-fullsize">
                        <tr>
                            <td style="text-align: center; vertical-align: top;">
                                <div class="ra-margin-top-sm">
                                    <i class="far fa-arrow-alt-circle-left fa-2x"></i>
                                </div>
                                <div class="ra-margin-top-sm sidebarDivider"></div>
                                <div class="ra-margin-top-sm">
                                    <i class="fas fa-search fa-2x"></i>
                                </div>
                                <div class="ra-margin-top-sm ra-sectionbar-divider"></div>
                                <div class="ra-margin-top-sm">
                                    @Html.RAButton("<i class='fas fa-home fa-2x ra-color-white'></i>",
                                        "navigateTo('/Index');", buttonClass: "btn-link")
                                </div>
                                <div class="ra-margin-top-sm">
                                    @Html.RAButton("<i class='fas fa-scroll fa-2x ra-color-white'></i>",
                                        "navigateTo('/Containers/Index');", buttonClass: "btn-link")
                                </div>
                                <div class="ra-margin-top-sm">
                                    @Html.RAButton("<i class='fas fa-table fa-2x ra-color-white'></i>",
                                        "navigateTo('/DataGrids/Index');", buttonClass: "btn-link")
                                </div>
                                <div class="ra-margin-top-sm">
                                    @Html.RAButton("<i class='fas fa-window-restore fa-2x ra-color-white'></i>",
                                        "navigateTo('/ModalDialogs/Index');", buttonClass: "btn-link")
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; vertical-align: bottom;">
                                @*<div class="ra-margin-bottom-sm">
                                    @using (Html.RABeginDropdownButton("<i class='fas fa-cogs fa-2x' style='color: white;'></i>",
                                        "adminButton", buttonClass: "btn-link", dropdownClass: "btn-group dropright"))
                                    {
                                        @Html.RADropdownItem("SETTINGS 1", "alert('Settings 1');")
                                        @Html.RADropdownItem("SETTINGS 2", "alert('Settings 2');")
                                    }
                                </div>
                                <div class="ra-margin-bottom-sm">
                                    <i class="far fa-user fa-2x"></i>
                                </div>*@
                            </td>
                        </tr>
                    </table>
                </td>
                @if (IsSectionDefined("taskbar"))
                {
                    <td class="ra-layout-taskbar">
                        @RenderSection("taskbar")
                    </td>
                }
            </tr>
        </table>

        <div class="ra-container ra-container-vertical" style="padding: 15px;" onmousedown="raHideSidebar();">

            <table class="ra-headertable">
                <tr>
                    <td class="ra-layout-sidebar-toggle-button ra-headertable-cell-sidebarbutton">
                        <button type="button"
                                class="btn btn-outline-secondary"
                                onclick="raToggleSidebar()">
                            <i class="fas fa-bars"></i>
                        </button>
                    </td>
                    <td class="ra-headertable-cell-titlebar">
                        @if (IsSectionDefined("header"))
                        {
                            @RenderSection("header")
                        }
                        else
                        {
                            <text>Header</text>
                        }
                    </td>
                    <td class="ra-headertable-cell-logo">
                        <a href="/Index">
                            <img src="~/images/Orbital7.png"
                                 style="max-height: 30px;" />
                        </a>
                    </td>
                </tr>
            </table>

            <div class="ra-container ra-container-vertical">
                @RenderBody()
            </div>

        </div>

    </div>

    @await Html.RAInfrastructurePageComponentsAsync()

</body>
</html>
