@using Orbital7.RapidApp.SampleWebApp.Models.DataGrids
@model _PanelBasicModel

@if (this.Model.Items.Count > 0)
{
    @using (Html.RABeginDataGrid())
    {
        <thead>
            @Html.RADataGridHeadingCellFor(x => x.Items.First().Value0)
            @Html.RADataGridHeadingCellFor(x => x.Items.First().Value1, isSortDefault: true)
            @Html.RADataGridHeadingCellFor(x => x.Items.First().Value2)
            @Html.RADataGridHeadingCellFor(x => x.Items.First().Value3)
        </thead>

        <tbody>
            @foreach (var item in this.Model.Items)
            {
                <tr>
                    @Html.RADataGridBodyCellFor(x => item.Value0)
                    @Html.RADataGridBodyCellFor(x => item.Value1)
                    @Html.RADataGridBodyCellFor(x => item.Value2)
                    @Html.RADataGridBodyCellFor(x => item.Value3)
                </tr>
            }
        </tbody>
    }
}
else
{
    <div>No items</div>
}