@model Orbital7.RapidApp.Models.RASubTabsView

@{
    this.Model.SetSelectedIndex(this.Context.Request.Query[this.Model.SubTabsName + "SubTab"]);
}

<div id="@this.Model.HeaderId" class="ra-subtabs-header">
        @foreach (var item in this.Model.Items)
        {
            if (item.IsVisible)
            {
                string id = "subTabHeader" + item.Index;
                <div id="@id"
                    class="ra-subtab ra-subtab-header"
                    data-tab-index="@item.Index"
                    onclick="loadSubTab_@{@this.Model.Id}('@item.Index');">
                    @item.Name
                </div>
        }
    }
</div>

<div id="@this.Model.Id" class="ra-subtabs-content ra-fullheight">
    @foreach (var item in this.Model.Items)
    {
        string id = this.Model.SubTabsName + "SubTab" + item.Index;
        <div id="@id"
                class="ra-parent ra-subtab-content"
                data-tab-loaded="false"
                data-tab-contenturl="@item.PartialViewUrl"></div>
    }
</div>

<script>
    function loadSubTab_@{@this.Model.Id}(tabIndex) {

        var subTabsHeader = $("#@this.Model.HeaderId");
        var subTabHeader = subTabsHeader.find("#subTabHeader" + tabIndex);
        if (!subTabHeader.hasClass("ra-subtab-header-selected")) {

            subTabsHeader.find(".ra-subtab").removeClass("ra-subtab-header-selected");
            subTabsHeader.find(".ra-subtab").addClass("ra-subtab-header");
            subTabHeader.removeClass("ra-subtab-header");
            subTabHeader.addClass("ra-subtab-header-selected");

            var subTabs = $("#@this.Model.Id");
            subTabs.find(".ra-subtab-content").hide();
            var tabContent = subTabs.find("#@this.Model.SubTabsName" + "SubTab" + tabIndex);
            tabContent.show();

            if (tabContent.attr("data-tab-loaded") === "false") {
                raShowLoading(tabContent);
                $.get({
                    url: tabContent.attr("data-tab-contenturl"),
                    cache: false,
                    success: function (response) {
                        tabContent.attr("data-tab-loaded", "true");
                        tabContent.html(response);
                        subTabs.find(".ra-subtabs-content").scrollTop(0);
                        updateBindings();
                    },
                    error: function (xhr) {
                        if (xhr.responseText)
                            tabContent.html(xhr.responseText);
                        else
                            tabContent.html("<strong class='red'>ERROR:</strong> Tab content could not be loaded");
                    }
                });
            }
        }
    }

    @if (this.Model.SelectedIndex >= 0)
    {
        <text>loadSubTab_@{@this.Model.Id}('@this.Model.SelectedIndex');</text>
    }

</script>