@model Orbital7.RapidApp.Models.RATabsView

@{
    this.Model.SetSelectedIndex(this.Context.Request.Query["selectedTab"]);
}

<table class="ra-tabs-header">
    <tr>
        @foreach (var item in this.Model.Items)
        {
            if (item.IsVisible)
            {
                string id = "ra-tab-" + item.Index;
                <td id="@id"
                    class="ra-tab ra-tab-header"
                    style="width: @item.WidthPercent%;"
                    data-tab-index="@item.Index"
                    onclick="loadTab('@item.Index');">
                    @item.Name
                </td>
            }
        }
    </tr>
</table>

<div class="ra-tabs-content">
    @foreach (var item in this.Model.Items)
    {
        string id = "ra-tab-content-" + item.Index;
        <div id="@id"
             class="ra-container ra-tab-content"
             data-tab-loaded="false"
             data-tab-contenturl="@item.PartialViewUrl"></div>
    }
</div>

<script>
    
    function loadTab(tabIndex) {

        var tab = $("#ra-tab-" + tabIndex);
        if (!tab.hasClass("ra-tab-header-selected")) {
            $(".ra-tab").removeClass("ra-tab-header-selected");
            $(".ra-tab").addClass("ra-tab-header");
            tab.removeClass("ra-tab-header");
            tab.addClass("ra-tab-header-selected");

            $(".ra-tab-content").hide();
            var tabContent = $("#ra-tab-content-" + tabIndex);
            tabContent.show();
            resizeAll();

            if (tabContent.attr("data-tab-loaded") === "false") {
                showLoading(tabContent);
                $.get({
                    url: tabContent.attr("data-tab-contenturl"),
                    cache: false,
                    success: function (response) {
                        tabContent.attr("data-tab-loaded", "true");
                        tabContent.html(response);
                        $(".ra-tabs-content").scrollTop(0);
                        updateBindings();
                    },
                    error: function (xhr) {
                        if (xhr.responseText)
                            tabContent.html(xhr.responseText);
                        else
                            tabContent.html("<strong class='red'>ERROR:</strong> Tab content could not be loaded");
                    }
                });
            }
        }
    }

    @if (this.Model.SelectedIndex >= 0)
    {
        <text>loadTab('@this.Model.SelectedIndex');</text>
    }

</script>