@model Orbital7.RapidApp.Models.TaskbarView

<div class="ra-taskbar"
     data-key="@this.Model.Key">

    @foreach (var item in this.Model.Items)
    {
        if (item.IsHeading)
        {
            <div class="ra-font-bold" style="margin-left: -5px; margin-top: 15px; margin-bottom: 5px;">
                @item.Text
            </div>
        }
        else if (item.IsVisible)
        {
            <div class="ra-taskbar-item ra-taskbar-item-selectable"
                 data-task-action="@item.Action" 
                 onclick="loadTaskbarItem('@item.Text');">
                @item.Text
            </div>
        }
    }

</div>

<script>

    $(document).ready(function () {

        var selectedTaskName = "@this.Context.Request.Query["selectedTask"]";

        if (!selectedTaskName)
            selectedTaskName = sessionStorage.getItem("taskbar_" + "@this.Model.Key" + "_selectedTask");

        if (!selectedTaskName)
            selectedTaskName = "@this.Model.FirstItem?.Text";

        if (selectedTaskName)
            loadTaskbarItem(selectedTaskName);
    });

</script>