@model Orbital7.RapidApp.Models.TaskbarView

<div class="ra-taskbar">

    @foreach (var item in this.Model.Items)
    {
        if (item.IsVisible)
        {
            <div class="ra-taskbar-item ra-taskbar-item-selectable"
                 data-task-action="@item.Action" 
                 onclick="loadTaskbarItem('@item.Text');">
                @item.Text
            </div>
        }
    }

</div>

<script>

    $(document).ready(function() {
        var selectedTaskName = "@this.Context.Request.Query["selectedTask"]";

        if (!selectedTaskName)
            selectedTaskName = localStorage.getItem("selectedTask");

        if (!selectedTaskName)
            selectedTaskName = "@this.Model.Items.FirstOrDefault()?.Text";

        if (selectedTaskName)
            loadTaskbarItem(selectedTaskName);
    });

</script>