<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Orbital7.RapidApp Sample Web App" />
    <title>Sample Web App</title>
    @await Html.RAInfrastructureStylesheetsAsync()
    @await Html.RAInfrastructureScriptsAsync()
    @RenderSection("Scripts", required: false)

</head>
<body>

    <div class="ra-layout">
        <div class="ra-layout-sidebar">

            <div class="ra-layout-sectionbar">
                <table style="width: 100%; height: 100%;">
                    <tr>
                        <td style="text-align: center; vertical-align: top;">
                            <div class="ra-margin-top-sm">
                                <i class="far fa-arrow-alt-circle-left fa-2x"></i>
                            </div>
                            <div class="ra-margin-top-sm sidebarDivider"></div>
                            <div class="ra-margin-top-sm">
                                <i class="fas fa-search fa-2x"></i>
                            </div>
                            <div class="ra-margin-top-sm ra-sectionbar-divider"></div>
                            <div class="ra-margin-top-sm">
                                @Html.RAButton("<i class='fas fa-home fa-2x ra-color-white'></i>",
                                    "navigateTo('/Home/Index');", buttonClass: "btn-link")
                            </div>
                            <div class="ra-margin-top-sm">
                                @Html.RAButton("<i class='fas fa-scroll fa-2x ra-color-white'></i>",
                                    "navigateTo('/Pages/Index');", buttonClass: "btn-link")
                            </div>
                            <div class="ra-margin-top-sm">
                                @Html.RAButton("<i class='fas fa-table fa-2x ra-color-white'></i>",
                                    "navigateTo('/DataGrids/Index');", buttonClass: "btn-link")
                            </div>
                            <div class="ra-margin-top-sm">
                                @Html.RAButton("<i class='fas fa-window-restore fa-2x ra-color-white'></i>",
                                    "navigateTo('/ModalDialogs/Index');", buttonClass: "btn-link")
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: bottom;">
                            <div class="ra-margin-bottom-sm">
                                @using (Html.RABeginDropdownButton("<i class='fas fa-cogs fa-2x' style='color: white;'></i>",
                                 "adminButton", buttonClass: "btn-link", dropdownClass: "btn-group dropright"))
                                {
                                    @Html.RADropdownItem("SETTINGS 1", "alert('Settings 1');")
                                    @Html.RADropdownItem("SETTINGS 2", "alert('Settings 2');")
                                }
                            </div>
                            <div class="ra-margin-top-sm">
                                <i class="far fa-user fa-2x"></i>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            @if (IsSectionDefined("taskbar"))
            {
                <div class="ra-layout-taskbar">
                    @RenderSection("taskbar")
                </div>
            }
            else
            {
                @await Html.RAInfrastructureNoTaskbarAsync()
            }

        </div>

        <div class="ra-layout-body" style="padding: 15px;" onmousedown="raHideSidebar();">

            <table style="width: 100%; margin-bottom: 20px;">
                <tr>
                    <td class="ra-layout-sidebar-toggle-button" style="height: 38px; width: 56px; vertical-align: middle; text-align: left;">
                        <button type="button"
                                class="btn btn-outline-secondary"
                                onclick="raToggleSidebar()">
                            <i class="fas fa-bars" style="font-size: 1.1em;"></i>
                        </button>
                    </td>
                    <td style="text-align: left; height: 38px;">
                        Left
                    </td>
                    <td style="text-align: right; height: 38px;">
                        Right
                    </td>
                </tr>
            </table>

            @RenderBody()
        </div>

    </div>

    @await Html.RAInfrastructurePageComponentsAsync()

</body>
</html>
