@model Orbital7.RapidApp.Models.RAContentFrameModel

<div id="@this.Model.ContainerId"
     class="@this.Model.ContainerClass"
     style="position: relative; @this.Model.ContainerStyle">

    <div id="@this.Model.ToolbarId">
        @if (this.Model.ShowToolbar)
        {
            @using (Html.RABeginToolbar())
            {
                @if (this.Model.ShowPrintButton)
                {
                    @Html.RAToolbarButton("Print", new
                    {
                        onclick = this.Model.PrintFunctionName + ";"
                    })
                }
            }
        }
    </div>

    @{
        var wrapperId = this.Model.FrameId + "_wrapper";
    }

    <div id="@wrapperId"
         class="ra-fullsize ra-container-scrollable-y ra-border ra-background-color-white @this.Model.FrameClass"
         style="width: 100%; @this.Model.FrameStyle">
        <iframe id="@this.Model.FrameId"
                scrolling="no"
                name="@this.Model.FrameId"
                frameborder="0"
                class="ra-background-color-white ra-fullsize"
                style="width: 100%;"
                src="@this.Model.ContentUrl"></iframe>
    </div>

    <div id="@this.Model.LoadingId" style="width: 100%; height: 100%;" />

</div>

<script>

    function @this.Model.PrintFunctionName {

        var frame = window.frames["@this.Model.FrameId"];
        frame.focus();
        frame.print();
    }

    $(document).ready(function () {

        var toolbar = $("#@this.Model.ToolbarId");
        var frame = $("#@this.Model.FrameId");
        var frameWrapper = $("#@wrapperId");
        var loading = $("#@this.Model.LoadingId");

        raShowLoading(loading, @this.Model.ShowLoadingFullHeight.Totruefalse());
        frameWrapper.hide();
        toolbar.hide();

        frame.on("load", function ()
        {
            loading.html("").hide();

            frameWrapper.show();
            toolbar.show();

            @if (this.Model.PrintFrameOnLoad)
            {
                <text>@this.Model.PrintFunctionName;</text>
            }

            @*setTimeout(function () {
                var myFrame = $("#@this.Model.FrameId");
                alert(myFrame.contents().height());
                myFrame.css("height", myFrame.contents().height() + "px");
            }, 250);*@
        });

    });

</script>