@using Orbital7.RapidApp2.Models
@model RASideTabsView

<table id="@this.Model.Id" class="ra-sidetabs ra-fullheight">

    <tr>
        <td id="@this.Model.HeaderId" class="ra-sidetabs-header">
            @foreach (var item in this.Model.Items)
            {
                string id = "sideTabHeader" + item.Index;
                <div id="@id" 
                     title="@item.Name"
                     class="ra-sidetab ra-sidetab-header"
                     data-tab-index="@item.Index"
                     onclick="loadSideTab_@{@this.Model.Id}('@item.Index');">
                    @item.Name
                </div>
            }
        </td>
        <td class="ra-sidetabs-content">
            @foreach (var item in this.Model.Items)
            {
                var id = "sideTabContent" + item.Index;
                <div id="@id"
                     class="ra-parent ra-sidetab-content"
                     data-tab-loaded="false"
                     data-tab-contenturl="@item.PartialViewUrl"></div>
            }
        </td>
    </tr>

</table>

<script>
    function loadSideTab_@{@this.Model.Id}(tabIndex) {

        var sideTabsHeader = $("#@this.Model.HeaderId");
        var sideTabHeader = sideTabsHeader.find("#sideTabHeader" + tabIndex);
        if (!sideTabHeader.hasClass("ra-sidetab-header-selected")) {

            sideTabsHeader.find(".ra-sidetab").removeClass("ra-sidetab-header-selected");
            sideTabsHeader.find(".ra-sidetab").addClass("ra-sidetab-header");
            sideTabHeader.removeClass("ra-sidetab-header");
            sideTabHeader.addClass("ra-sidetab-header-selected");

            var sideTabs = $("#@this.Model.Id");
            sideTabs.find(".ra-sidetab-content").hide();
            var tabContent = sideTabs.find("#sideTabContent" + tabIndex);
            tabContent.show();

            if (tabContent.attr("data-tab-loaded") === "false") {
                raShowLoading(tabContent, false);
                $.get({
                    url: tabContent.attr("data-tab-contenturl"),
                    cache: false,
                    success: function (response) {
                        tabContent.attr("data-tab-loaded", "true");
                        tabContent.html(response);
                        sideTabs.find(".ra-sidetabs-content").scrollTop(0);
                        raUpdateBindings();
                    },
                    error: function (xhr) {
                        if (xhr.responseText)
                            tabContent.html(xhr.responseText);
                        else
                            tabContent.html("<strong class='red'>ERROR:</strong> Tab content could not be loaded");
                    }
                });
            }
        }
    }

    @if (this.Model.SelectedIndex >= 0)
    {
        <text>loadSideTab_@{@this.Model.Id}('@this.Model.SelectedIndex');</text>
    }

</script>